### Redis Client

In [2]:
import pandas as pd
import pyarrow as pa
import redis
import tqdm

In [3]:
redis_port = 6379
redis_db = redis.Redis(host = 'localhost',port=6379,db=0)
# redis_port = 80
# redis_db = redis.Redis(host = 'https://a53a579a7651.ngrok.io',port=80,db=0)

In [4]:
def get_redis_df(key):
    context = pa.default_serialization_context()
    df = context.deserialize(redis_db.get(key))
    return df

In [5]:
get_redis_df('SPY_csv')

,open,high,low,close,volume,date,settle_date
0,218.309998,218.750000,217.740005,218.539993,75443000,2016-08-19,20160819
1,218.259995,218.800003,217.830002,218.529999,61368800,2016-08-22,20160822
2,219.250000,219.600006,218.899994,218.970001,53399200,2016-08-23,20160823
3,218.800003,218.910004,217.360001,217.850006,71728900,2016-08-24,20160824
4,217.399994,218.190002,217.220001,217.699997,69224800,2016-08-25,20160825
...,...,...,...,...,...,...,...
1254,445.589996,445.940002,445.070007,445.920013,39388300,2021-08-13,20210813
1255,444.529999,447.109985,442.869995,446.970001,73740000,2021-08-16,20210816
1256,444.239990,444.959991,440.850006,444.040009,92673900,2021-08-17,20210817
1257,442.959991,444.630005,438.920013,439.179993,89351900,2021-08-18,20210818
1258,436.269989,441.140015,436.119995,440.209991,78993495,2021-08-19,20210819

### Get Data

In [ ]:
df_bp = pd.read_csv('../../jupyter_notebooks/wf_port.csv')
ret_list = []
with tqdm.tqdm_notebook(df_bp.symbol.values) as pbar:
    for sym in pbar:
        len_df=0
        try:
            df = get_redis_df(f'{sym}_csv')
            len_df = len(df)
        except:
            pass
        s = f"{sym}: {len_df}"
        ret_list.append({'symbol':sym,'length':len_df})
        pbar.set_postfix_str(s=s)
pd.DataFrame(ret_list)

In [ ]:
#df_spy,df_vix,df_tnx,df_1yr_rate,df_div
df_spy = get_redis_df('df_spy')
df_vix = get_redis_df('df_vix')
df_tnx = get_redis_df('df_tnx')
df_1yr_rate = get_redis_df('df_1yr_rate')
df_div = get_redis_df('df_div')

In [ ]:
df_spy.tail()

In [ ]:
df_cuv_implied = get_redis_df('df_cuv_implied')

In [ ]:
df_cuv_implied[df_cuv_implied.symbol.str.slice(0,2)=='CL']