### Redis Client

In [8]:
import pandas as pd
import pyarrow as pa
import redis
import tqdm

In [9]:
redis_port = 6379
redis_db = redis.Redis(host = 'localhost',port=6379,db=0)

In [10]:
def get_redis_df(key):
    context = pa.default_serialization_context()
    df = context.deserialize(redis_db.get(key))
    return df

### Get Data

In [23]:
df_bp = pd.read_csv('../../jupyter_notebooks/wf_port.csv')
ret_list = []
with tqdm.tqdm_notebook(df_bp.symbol.values) as pbar:
    for sym in pbar:
        len_df=0
        try:
            df = get_redis_df(f'{sym}_csv')
            len_df = len(df)
        except:
            pass
        s = f"{sym}: {len_df}"
        ret_list.append({'symbol':sym,'length':len_df})
        pbar.set_postfix_str(s=s)
pd.DataFrame(ret_list)

/Users/bperlman1/Virtualenvs3/dashrisk5/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

  0%|          | 0/23 [00:00<?, ?it/s]

   symbol  length
0     ABT    1258
1    ADBE    1258
2   GOOGL    1258
3    AMZN    1258
4    AAPL    1258
5     ADP    1258
6    AVGO    1258
7     CSX    1258
8      EW    1258
9     EXR    1258
10     FB    1258
11    GPN    1258
12     HD    1258
13   IDXX    1258
14    JPM    1258
15   MSFT    1258
16   MSCI    1258
17    NEE    1258
18    ROP    1258
19    CRM    1258
20    TXN    1258
21    TMO    1258
22    UNH    1258

In [4]:
#df_spy,df_vix,df_tnx,df_1yr_rate,df_div
df_spy = get_redis_df('df_spy')
df_vix = get_redis_df('df_vix')
df_tnx = get_redis_df('df_tnx')
df_1yr_rate = get_redis_df('df_1yr_rate')
df_div = get_redis_df('df_div')

In [5]:
df_spy.tail()

,high,low,open,close,volume,date,settle_date
7552,3917.350098,3885.729980,3891.989990,3898.810059,5827250000,2021-03-10,20210310
7553,3960.270020,3915.540039,3915.540039,3939.340088,5300010000,2021-03-11,20210311
7554,3944.989990,3915.209961,3924.520020,3943.340088,4469240000,2021-03-12,20210312
7555,3970.080078,3923.540039,3942.959961,3968.939941,4882190000,2021-03-15,20210315
7556,3981.040039,3953.439941,3973.590088,3962.709961,2367135990,2021-03-16,20210316

In [6]:
df_cuv_implied = get_redis_df('df_cuv_implied')

In [7]:
df_cuv_implied[df_cuv_implied.symbol.str.slice(0,2)=='CL']

       settle_date        iv  fprice symbol
11526     20110103  0.507499   91.55  CLG11
11527     20110104  0.538744   89.38  CLG11
11528     20110105  0.512729   90.30  CLG11
11529     20110106  0.527733   88.38  CLG11
11530     20110107  0.519928   88.03  CLG11
...            ...       ...     ...    ...
23071     20200723  0.360241   41.51  CLZ20
23072     20200724  0.351549   41.82  CLZ20
23073     20200727  0.347375   42.18  CLZ20
23074     20200728  0.336210   41.74  CLZ20
23075     20200729  0.327083   42.04  CLZ20

[11550 rows x 4 columns]