### Redis Client

In [2]:
import pandas as pd
import numpy as np

import sys
import os

if  not os.path.abspath('./') in sys.path:
    sys.path.append(os.path.abspath('./'))
if  not os.path.abspath('../') in sys.path:
    sys.path.append(os.path.abspath('../'))

from barchartacs import build_db
from IPython import display

import datetime
from dateutil.relativedelta import relativedelta
import io

from tqdm import tqdm,tqdm_notebook

from barchartacs import pg_pandas as pg
from barchartacs import schedule_it as sch

import mibian
import py_vollib
import importlib
from py_vollib import black
from py_vollib.black import implied_volatility

import ipdb,pdb
import traceback

import pandas_datareader.data as pdr
from scipy.stats import norm

import pyarrow as pa
import redis

/Users/bperlman1/Virtualenvs3/dashrisk5/lib/python3.6/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
redis_port = 6379
redis_db = redis.Redis(host = 'localhost',port=6379,db=0)

In [6]:
def get_redis_df(key):
    context = pa.default_serialization_context()
    df = context.deserialize(redis_db.get(key))
    return df

### Get Data

In [19]:
#df_spy,df_vix,df_tnx,df_1yr_rate,df_div
df_spy = get_redis_df('df_spy')
df_vix = get_redis_df('df_vix')
df_tnx = get_redis_df('df_tnx')
df_1yr_rate = get_redis_df('df_1yr_rate')
df_div = get_redis_df('df_div')

In [21]:
df_spy.tail()

,high,low,open,close,volume,date,settle_date
7554,3211.719971,3163.840088,3163.840088,3193.929932,8617590000,2020-06-05,20200605
7555,3233.129883,3196.000000,3199.919922,3232.389893,8437380000,2020-06-08,20200608
7556,3222.709961,3193.110107,3213.320068,3207.179932,6382620000,2020-06-09,20200609
7557,3223.270020,3181.489990,3213.419922,3190.139893,6570840000,2020-06-10,20200610
7558,3123.530029,2999.489990,3123.530029,3002.100098,7018890000,2020-06-11,20200611