In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as pdr
import datetime

In [2]:
def get_pdr(symbol,beg_dt=None,end_dt=None,num_days=None,data_source='yahoo'):
    edt = datetime.datetime.now() if end_dt is None else end_dt
    if beg_dt is None:
        numd = 365 if num_days is None else num_days
        bdt = edt - datetime.timedelta(numd)
    else:
        bdt = bet_dt
    df = pdr.DataReader(symbol,start=bdt,end=edt,data_source=data_source)
    df['Date'] = df.index
    df.index = list(range(len(df)))
    df['yyyymmdd'] = df.Date.apply(lambda v:int(str(v)[0:4])*100*100 + int(str(v)[5:7])*100 + int(str(v)[8:10]))
    return df

In [8]:
df_btcZ21 = get_pdr('BTCZ21.CME')
df_btc = get_pdr('BTC-USD')

In [19]:
df_btcZ212 = df_btcZ21[['yyyymmdd','Close']].rename(columns={'Close':'BTCZ21'})
df_btc2 = df_btc[['yyyymmdd','Close']].rename(columns={'Close':'BTC'})
df_btc_both = df_btc2.merge(df_btcZ212,on='yyyymmdd',how='left')
df_btc_both['btc_diff'] = 1 - df_btc_both.BTC/df_btc_both.BTCZ21
df_btc_both.iloc[-50:]

     yyyymmdd           BTC   BTCZ21  btc_diff
315  20210924  42839.750000  42665.0 -0.004096
316  20210925  42716.593750      NaN       NaN
317  20210926  43208.539062      NaN       NaN
318  20210927  42235.730469  43375.0  0.026266
319  20210928  41034.542969  41895.0  0.020538
320  20210929  41564.363281  41425.0 -0.003364
321  20210930  43790.894531  43950.0  0.003620
322  20211001  48116.941406  48645.0  0.010855
323  20211002  47711.488281      NaN       NaN
324  20211003  48199.953125      NaN       NaN
325  20211004  49112.902344  50190.0  0.021460
326  20211005  51514.812500  52055.0  0.010377
327  20211006  55361.449219  56225.0  0.015359
328  20211007  53805.984375  55115.0  0.023751
329  20211008  53967.847656  55775.0  0.032401
330  20211009  54968.222656      NaN       NaN
331  20211010  54771.578125      NaN       NaN
332  20211011  57484.789062  58755.0  0.021619
333  20211012  56041.058594  56635.0  0.010487
334  20211013  57401.097656  58505.0  0.018869
335  20211014  57321.523438  58990.0  0.028284
336  20211015  61593.949219  63000.0  0.022318
337  20211016  60892.179688      NaN       NaN
338  20211017  61553.617188      NaN       NaN
339  20211018  62026.078125  62390.0  0.005833
340  20211019  64261.992188  65730.0  0.022334
341  20211020  65992.835938  68635.0  0.038496
342  20211021  62210.171875  64655.0  0.037813
343  20211022  60692.265625  62310.0  0.025963
344  20211023  61393.617188      NaN       NaN
345  20211024  60930.835938      NaN       NaN
346  20211025  63039.824219  64050.0  0.015772
347  20211026  60363.792969  63185.0  0.044650
348  20211027  58482.386719  59775.0  0.021625
349  20211028  60622.136719  62230.0  0.025837
350  20211029  62227.964844  63395.0  0.018409
351  20211030  61888.832031      NaN       NaN
352  20211031  61318.957031      NaN       NaN
353  20211101  61004.406250  62095.0  0.017563
354  20211102  63226.402344  64600.0  0.021263
355  20211103  62970.046875  63600.0  0.009905
356  20211104  61452.230469  61910.0  0.007394
357  20211105  61125.675781  61900.0  0.012509
358  20211106  61527.480469      NaN       NaN
359  20211107  63326.988281      NaN       NaN
360  20211108  67566.828125  67075.0 -0.007333
361  20211109  66971.828125  68235.0  0.018512
362  20211110  64995.230469  66650.0  0.024828
363  20211111  64949.960938  65635.0  0.010437
364  20211113  64326.386719      NaN       NaN

In [9]:
df_gcz21 = get_pdr('GCZ21.CMX')
df_gld = get_pdr('GLD')

In [19]:
df_gcz21_2 = df_gcz21[['yyyymmdd','Close']].rename(columns={'Close':'GCZ21'})[['yyyymmdd','GCZ21']]
df_gld_2 = df_gld.rename(columns={'Close':'GLD'})[['yyyymmdd','GLD']]
df_both = df_gcz21_2.merge(df_gld_2,on='yyyymmdd',how='inner')
df_both.GCZ21 = df_both.GCZ21.pct_change()
df_both.GLD = df_both.GLD.pct_change()
df_both = df_both.iloc[1:]
df_both

     yyyymmdd     GCZ21       GLD
1    20201111 -0.008459 -0.004327
2    20201112  0.006677  0.006061
3    20201113  0.006790  0.006820
4    20201116 -0.000470 -0.000057
5    20201117 -0.001935 -0.003669
..        ...       ...       ...
246  20211104  0.016781  0.011341
247  20211105  0.012991  0.013063
248  20211108  0.006165  0.003592
249  20211109  0.001532  0.004928
250  20211110  0.009613  0.007821

[250 rows x 3 columns]

In [21]:
df_both[['GCZ21','GLD']].iloc[-100:].corr()

         GCZ21      GLD
GCZ21  1.00000  0.96471
GLD    0.96471  1.00000

In [13]:
get_pdr('SPY')

           High         Low        Open  ...   Adj Close       Date  yyyymmdd
0    322.950012  321.640015  321.649994  ...  317.019714 2019-12-26  20191226
1    323.799988  322.279999  323.739990  ...  316.941162 2019-12-27  20191227
2    323.100006  320.549988  322.950012  ...  315.193817 2019-12-30  20191230
3    322.130005  320.149994  320.529999  ...  315.959503 2019-12-31  20191231
4    324.890015  322.529999  323.540009  ...  318.914307 2020-01-02  20200102
..          ...         ...         ...  ...         ...        ...       ...
247  372.459991  371.049988  371.940002  ...  370.660004 2020-12-17  20201217
248  371.149994  367.019989  370.970001  ...  369.179993 2020-12-18  20201218
249  378.459991  362.029999  364.970001  ...  367.859985 2020-12-21  20201221
250  368.329987  366.029999  368.209991  ...  367.239990 2020-12-22  20201222
251  369.619995  367.217194  368.279999  ...  367.489990 2020-12-23  20201223

[252 rows x 8 columns]

In [7]:
?pdr.DataReader