In [1]:
import zipfile
import glob
import pandas as pd
import numpy as np

from argparse import ArgumentParser
from argparse import RawDescriptionHelpFormatter
import sys
import os
if  not './' in sys.path:
    sys.path.append('./')
if  not '../' in sys.path:
    sys.path.append('../')

from barchartacs import build_db
from barchartacs import db_info
import datetime
import io
from tqdm import tqdm,tqdm_notebook
from barchartacs import pg_pandas as pg
import importlib
# importlib.reload(db_info)

In [2]:
d1 = {
    1:'jan',
    2:'feb',
    3:'mar',
    4:'apr',
    5:'may',
    6:'jun',
    7:'jul',
    8:'aug',
    9:'sep',
    10:'oct',
    11:'nov',
    12:'dec'
}
# d2 = {d1[k]:k for k in d1.keys()}

In [3]:
zip_folder_parent = open('./temp_folder/zip_folder_parent.txt','r').read()
futures_parent = f'{zip_folder_parent}/futures'

all_names_ordered = []
for yy in np.arange(10,19):
    fnames = glob.glob(f'{futures_parent}/*{yy}.txt')
    d = {}
    for fname in fnames:
        mmm = fname.split('/')[-1].split('.txt')[0][0:-2][-3:]
        d[mmm] = fname
    fnames_ordered = [d[d1[m]] for m in d1.keys() if d1[m] in d]
    all_names_ordered += fnames_ordered
all_names_ordered

df_all = None
header = ['contract','month_year','yymmdd','open','high','low','close','volume','open_interest']

for fname in tqdm_notebook(all_names_ordered):
    df_temp = pd.read_csv(fname,header=None)
    df_temp.columns = header
    if df_all is None:
        df_all = df_temp.copy()
    else:
        df_all = df_all.append(df_temp,ignore_index=True)
        df_all.index = list(range(len(df_all)))

HBox(children=(IntProgress(value=0), HTML(value='')))

In [4]:
len(df_all)

4708755

In [5]:
df_all.head()

,contract,month_year,yymmdd,open,high,low,close,volume,open_interest
0,A6,Y,100901.0,0.8908,0.9115,0.8902,0.9115,0.0,0.0
1,A6,2010U,100901.0,0.8910,0.9104,0.8900,0.9072,105813.0,98993.0
2,A6,2010Z,100901.0,0.8820,0.9001,0.8808,0.8974,451.0,3282.0
3,A6,2011H,100901.0,0.0000,0.8878,0.8681,0.8878,0.0,8.0
4,A6,2011M,100901.0,0.0000,0.8782,0.8589,0.8782,0.0,152.0

In [6]:
df_temp = df_all.copy()#.iloc[:1000]
isnas = df_temp.yymmdd.isna()
df_temp = df_temp[~isnas]
df_temp.index = list(range(len(df_temp)))
df_temp.loc[df_temp.month_year=='Y','month_year'] = '2099Z'
symbols = df_temp.contract + df_temp.month_year.str.slice(-1,)  + df_temp.month_year.str.slice(2,4)
settle_dates = ('20' + df_temp.yymmdd.astype(str)).astype(float).astype(int)
opens = df_temp.open.astype(float)
highs = df_temp.high.astype(float)
lows = df_temp.low.astype(float)
closes = df_temp.close.astype(float)
volumes = df_temp.volume.astype(int)
open_interests = df_temp.open_interest.astype(int)
df_final = pd.DataFrame({'symbol':symbols,
    'settle_date':settle_dates,
    'open':opens,
    'high':highs,
    'low':lows,
    'close':closes,
    'adj_close':closes,
    'volume':volumes,
    'open_interest':open_interests})
df_final.head()

,symbol,settle_date,open,high,low,close,adj_close,volume,open_interest
0,A6Z99,20100901,0.8908,0.9115,0.8902,0.9115,0.9115,0,0
1,A6U10,20100901,0.8910,0.9104,0.8900,0.9072,0.9072,105813,98993
2,A6Z10,20100901,0.8820,0.9001,0.8808,0.8974,0.8974,451,3282
3,A6H11,20100901,0.0000,0.8878,0.8681,0.8878,0.8878,0,8
4,A6M11,20100901,0.0000,0.8782,0.8589,0.8782,0.8782,0,152

In [7]:
len(df_all),len(df_final)

(4708755, 4708655)

#### Are there dupes??

In [8]:
ag = ['symbol','settle_date']
df_counts = df_final[ag+['close']].groupby(ag,as_index=False).count()
dupes_exist  = len(df_counts[df_counts.close>1])>0
dupes_exist

True

#### if there are dupes, get rid of them

In [9]:
if dupes_exist > 0:
    df_final = df_final.drop_duplicates()
    df_final.index = list(range(len(df_final)))

### NOW WRITE THE DATA FOR ALL YEARs

#### First create an instance of PgPandas

In [10]:
csv_temp_path = './temp_folder/df_all_temp.csv'
pga = db_info.get_db_info()
tbname = 'sec_schema.underlying_table'

  sec_db

/Users/bperlman1/Virtualenvs3/pyliverisk/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [11]:
tbname

'sec_schema.underlying_table'

#### Delete all rows if necessary

In [12]:
DELETE_ALL = True
if DELETE_ALL:
    sql = f"drop table IF EXISTS {tbname}"
    pga.exec_sql_raw(sql) 
    
    sql = f"""
    create table {tbname}(
        symbol text not null,
        settle_date integer not null,
        open numeric not null,
        high numeric not null,
        low numeric not null,
        close numeric not null,
        adj_close numeric not null,
        volume integer not null,
        open_interest integer not null,
        primary key(symbol,settle_date));
    """            
    pga.exec_sql_raw(sql) 
    
#     sql = f'delete from {tbname}'
#     pga.exec_sql_raw(sql)
pga.get_sql(f"select count(*) from {tbname}")

   count
0      0

In [25]:
sql = """
with f0 as (
    select nspname from pg_namespace N
    WHERE
        nspname NOT IN (
            'pg_catalog',
            'information_schema'
        )
),
f1 as (
    SELECT
        relname,
        pg_size_pretty (
            pg_total_relation_size (c.oid)
        ) AS "total_size"
    from pg_class c -- where c.relname ~ 'sec'
),
f2 as (
    select * from pg_class c where c.relname ~ 'sec' 
)select * from f1
"""
# pga.get_sql(sql)

In [35]:
# df_final.to_csv(csv_temp_path,index=False)
# print(f'writing data all to database BEGIN: {datetime.datetime.now()}')
# abspath = os.path.abspath(csv_temp_path)
# sql = f"COPY {tbname} FROM '{abspath}' DELIMITER ',' CSV HEADER"
# print(sql)
# pga.exec_sql_raw(sql)    
# print(f'writing data all to database END: {datetime.datetime.now()}')

writing data all to database BEGIN: 2019-06-29 19:16:48.140626
COPY sec_schema.underlying_table FROM '/Users/bperlman1/Documents/billybyte/pyliverisk/barchartacs/barchartacs/temp_folder/df_all_temp.csv' DELIMITER ',' CSV HEADER
writing data all to database END: 2019-06-29 19:18:19.920290

In [26]:
WRITE_DATA=False
if WRITE_DATA:
    pga.write_df_to_postgres_using_metadata(df=df_final,table_name=tbname)

In [28]:
display(pga.get_sql('select count(*) from sec_schema.underlying_table'))
len(df_final)

     count
0  4708633

4708633

In [ ]:
def get_data_by_contract(pga,contract,
            month_code_clause=None,
             settle_date_clause=None,
             limit=None):
    futtab = 'sec_schema.underlying_table'
    cl_month_code = '' if month_code_clause is None else f"and substring(symbol,3,1) {month_code_clause}"
    cl_sd = '' if settle_date_clause is None else f"and 'settle_date {settle_date_clause}"
    clim = '' if limit is None else f"limit {limit}"
    other_criteria = f'{cl_month_code} {cl_sd} {clim}'
    sql = f"select * from {tbname} where substring(symbol,1,2) = '{contract}' {other_criteria};"
    print(sql)
    df=  pga.get_sql(sql)
    return df

dfc = get_data_by_contract(pga,'CB',limit=3)
display(dfc)
dfc = get_data_by_contract(pga,'CB',month_code_clause="in ('G','N')",limit=3)
display(dfc)

In [29]:
pga.get_sql("select * from sec_schema.underlying_table limit 10")

,symbol,settle_date,open,high,low,close,adj_close,volume,open_interest
0,A6Z99,20100901,0.8908,0.9115,0.8902,0.9115,0.9115,0,0
1,A6U10,20100901,0.8910,0.9104,0.8900,0.9072,0.9072,105813,98993
2,A6Z10,20100901,0.8820,0.9001,0.8808,0.8974,0.8974,451,3282
3,A6H11,20100901,0.0000,0.8878,0.8681,0.8878,0.8878,0,8
4,A6M11,20100901,0.0000,0.8782,0.8589,0.8782,0.8782,0,152
5,A6U11,20100901,0.0000,0.8686,0.8493,0.8686,0.8686,0,4
6,A6Z11,20100901,0.0000,0.8590,0.8397,0.8590,0.8590,0,0
7,ADZ99,20100901,0.8908,0.9115,0.8902,0.9115,0.9115,0,0
8,ADU10,20100901,0.9032,0.9080,0.9032,0.9072,0.9072,105813,98993
9,ADZ10,20100901,0.8972,0.8974,0.8972,0.8974,0.8974,451,3282

In [ ]:
dfff = pd.read_csv(csv_temp_path)
dfff.head()